* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f20d0d;
    --text-color: #ffffff;
    --font-family: 'Space Grotesk', sans-serif;
    --background-dark: #221010;
    --background-light: #f8f5f5;
    --nuka-gold: #d4af37;
    --nuka-blue: #00f2ff;
    --border-red: #540101;
    --muted: rgba(255, 255, 255, 0.5);
}

/* Utilidades */

.link {
    text-decoration: none;
    color: var(--text-color);
}

.link:hover {
    color: var(--primary-color);
}

.button {
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
}

.primary-button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 10px rgba(242, 13, 13, 0.4);
}
.secondary-button {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
}

.title {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    font-weight:900;

    & .title--red-minor {
        color: var(--primary-color);
        font-size: 1rem;
        font-style: normal;
    }

    & .title__red {
        color: var(--primary-color);
    }
}

.secondary-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.text-muted {
    font-size: 1rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
    margin-block: 0.6rem;
}

.enlace {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
}

.short-border--red {
    display: inline-block;
    width: 4rem;
    height: 4px;
    background-color: var(--primary-color);
    margin-bottom: 0.5rem;
}

/* estilos generales */

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background-dark);
    color: var(--text-color);
}

.main-header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);

    .main-header__title {
        font-size: 2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .main-header__nav {
        display: flex;
        gap: 2rem;
        text-transform: uppercase;
    }
}

/* hero */

.hero {
    position: relative;
    background-image: url('nuka-cola-for-hero.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    min-height: 600px;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    gap: 1rem;
}

.hero__note {
    background-color: var(--primary-color);
    padding: 0.1rem 0.4rem;
    align-self: center;
    text-transform: uppercase;
}

.hero__title {
    font-size: 6rem;
    margin-block: 0rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.hero__text {
    font-size: 1.4rem;
    max-width: 50vw;
    margin: 0 auto;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
    font-weight: 300;
}

.hero__butttons {
    margin-block: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.hero__pagination {
    display: flex;
    gap: 2rem;
    justify-content: center;

    span {
        width: 10px;
        height: 10px;
        border: 1px solid var(--text-color);
        cursor: pointer;
        transform: rotate(45deg);
    }
}

/* products section */

.products__section {
    padding: 4rem 5%;
}

.products__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--border-red);
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.product__card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3);
}

.product__header {
    position: relative;
}

.product__span {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: var(--primary-color);
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
}

.blue-span {
    background-color: var(--nuka-blue);
    color: black;
}

.product__img  {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 1rem;
}

.product__description {
    margin-block: 1rem;
    padding-bottom: 1rem;;
    border-bottom: 1px solid var(--muted);
}

.product__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.product__price {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--nuka-gold);
}

.product__icon {
    text-decoration: none;
    transition: color 0.3s ease;
    border-radius: 45%;
    padding-block: 0.6rem;
    padding-inline: 0.4rem;
    display: flex;

    svg {
        width: 1rem;
        height: 1rem;
    }
}

.product__icon--red {
    color: var(--primary-color);
    background-color: rgba(255, 0, 0, 0.4);
}

.product__icon--blue {
    color: var(--nuka-blue);
    background-color: rgba(109, 208, 251, 0.4);
}

.product__icon--orange {
    color: var(--nuka-gold);
    background-color: rgba(255, 165, 0, 0.4);
}

/* about section */

.about__section {
    padding: 1rem 5%;
}

.about__header {
    display: grid;
    grid-template-columns: 42% 58%;
}

.about__gallery {
    position: relative;
    padding: 1rem;
    margin: 4rem;

    img {
        width: 100%;
        border-radius: 1rem;
    }
}

.about__gallery::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    z-index: -1;
    transform: rotate(2deg);
}