* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #006400;
    --secondary-color: #bb9c74;
    --bg-color: #ececec;
    --white-color: #ffffff;
    --text-light: #fff;
    --text-muted: #9c9c9c;
    --text-black: #000;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-color);
    line-height: 1.6;
    max-width: 1280px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-block: 2rem;
    border-bottom: 1px solid var(--text-muted);

    .nav-logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        h1 {
            font-size: 1.2rem;
        }

        svg {
            width: 30px;
            height: 30px;
            color: var(--primary-color);
            margin: 0;
        }
    }

    .nav-links a {
        color: var(--text-black);
        text-decoration: none;
        margin-left: 1.5rem;
        transition: color 0.3s ease;

        &:hover {
            color: var(--primary-color);
        }

        & link-propiedades {
            background-color: var(--primary-color);
            border-radius: 0.5rem;
            padding: 1rem;
            font-weight: bold;
            color: var(--text-light);
        }
    }

}

.hero {
    position: relative;
    width: 90%;
    aspect-ratio: 2/1;
    margin: 2rem auto;
    color: var(--white-color);
    background-image: url('./Imagen-Hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-inline: 2rem;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    & h2 {
        font-size: 3rem;
        font-weight: bolder;
        text-transform: capitalize;
    }

    & p {
        font-size: 1.2rem;
        color: var(--text-muted);
    }

     & a {
        margin: 0 auto;
        text-decoration: none;
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        padding: 1rem;
        font-weight: bold;
        color: var(--text-light);
    }
}

.propiedades-destacadas {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    & h2 {
        font-size: 1.6rem;
        text-transform: capitalize;
    }
}

.propiedades-lista {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;

    & article {
        background-color: var(--bg-color);
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & img {
            width: 100%;
            aspect-ratio: 4/2.5;
            object-fit: cover;
        }

        & div {
            padding-inline: 1rem;

            & p:first-child {
                font-weight: bold;
            }
            & p:nth-child(2) {
                color: var(--primary-color);
                font-weight: bold;
            }
            & p:last-child {
                color: var(--text-muted);
            }
        }
    }
}

.boton-detalles {
    display: flex;
    width: 90%;
    margin: 1rem auto;
    justify-content: center;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold; 
}

.formulario-intro {
    text-align: center;

    & p {
        color: var(--text-muted);
        font-size: 1rem;
    }
}

.formulario-contacto {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;

    & > input, textarea {
        margin-bottom: 1rem;
        padding: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
    }

    & button {
        background-color: var(--primary-color);
        color: var(--text-light);
        border: none;
        padding: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
    
}

.footer {
    width: 90%;
    margin: 2rem auto;
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contacto {
    text-align: center;

    & h3 {
        font-size: 1rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
        color: var(--text-muted);
    }
    & p {
        color: var(--text-muted);
        font-size: 0.8rem;
    }
    & p:last-child {
        margin-top: 0.5rem;
    }
}

.footer-medias {
    display: flex;
    gap: 1rem;

    & a {
        color: var(--text-muted);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.header-hero {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-block: 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: bolder;
        text-transform: capitalize;
    }

    p {
        font-size: 1.2rem;
        color: var(--text-muted);
    }

}

.filtro-busqueda {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.form-busqueda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: end;

    & div {
        display: flex;
        flex-direction: column;

        & select {
            padding: 0.6rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
        }
    }

    & a {
        padding: 0.5rem;
        text-decoration: none;
        text-align: center;
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        font-weight: bold;
        color: var(--text-light);
    }
}

.paginacion-propiedades {
    width: 90%;
    margin: 2rem auto;
    border-top: 1px solid var(--text-muted);
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;

    & > a {
        text-decoration: none;
        background-color: var(--white-color);
        color: var(--text-muted);
        font-weight: bold;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease;
    }
}

.page-numbers {
    display: flex;

    & a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--text-muted);
        font-weight: bold;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--primary-color);
            color: var(--text-light);
            border-radius: 0.3rem;
            transform: scale(1.1);
        }
    }

    .active {
        background-color: var(--primary-color);
        color: var(--text-light);
        border-radius: 0.3rem;
    }
}

.hero-section-propiedad {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.propiedad-container {
    
    ubicacion-container {
        display: flex;
        gap: 1rem;
        align-items: center;

        & svg {
            width: 20px;
            height: 20px;
            color: var(--primary-color);
        }

        & p {
            font-size: 1rem;
            color: var(--text-muted);
        }
    }
}

.header-propiedad {
    width: 90%;
    margin: 0 auto;
    padding-block: 2rem;
    border-bottom: 1px solid var(--text-muted);
    border: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text-muted);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        width: 40px;
        height: 40px;
        color: var(--primary-color);
    }
    span {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.nav-propiedad {

    .nav-links {
        display: flex;
        gap: 2rem;
        align-items: center;

        & li {
            list-style: none;
        }

        & a {
            color: var(--text-black);
            text-decoration: none;
            font-size: 1.2rem;
            transition: color 0.3s ease;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

.main-header-propiedad {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;

    h1 {
        font-size: 1.8rem;
        font-weight: bolder;
        text-transform: capitalize;
    }

    p {
        font-size: 1.2rem;
        color: var(--text-muted);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

.imagen-propiedad {
    width: 90%;
    margin: 0 auto;

    img {
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
    }
}

.contenido-propiedad {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;

    article {
        & section {
            & h2 {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            & p {
                line-height: 1.8;
            }
        }
    }
}

.descripcion-propiedad {
    
    & h2 {
        border-bottom: 1px solid var(--text-muted);
        padding-bottom: 0.8rem;
    }
}

.caracteristicas-propiedad {
    margin-top: 2rem;

    & h2 {
        border-bottom: 1px solid var(--text-muted);
        padding-bottom: 0.8rem;
    }

    & ul {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        & li {
            display: flex;
            align-items: center;

            & div {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.sidebar-propiedad {
    height: fit-content;
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;

    span {
        font-size: 0.8rem;
        color: var(--text-muted);
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 1.6rem;
        color: var(--primary-color);
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            font-size: 0.8rem;
            color: var(--text-muted);
        }
        input, textarea {
            width: 100%;
            margin-bottom: 1rem;
            padding: 0.8rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
        }
        button {
            background-color: var(--primary-color);
            color: var(--text-light);
            border: none;
            padding: 1rem;
            border-radius: 0.5rem;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}