* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f04299;
    --primary-color-light: #f79fcb82;
    --secondary-color: #4a90e2;
    --secondary-color-light: #7bb3f5;
    --font-color: #333;
    --bg-color: #f8f6f7;
    --font-muted: #666;
    --text-light: #fafafa;
    --text-seconday: #8a4b9aba;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

/* Header */

header {
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;
    border-bottom: 0.5px solid var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 10px 0px;

    div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

h1 {
    color: var(--font-color);
    font-size: 1.5rem;
    line-height: 1.2;
    text-wrap: balance;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
        color: var(--bg-color);
        background-color: var(--primary-color);
        width: 24px;
        height: 24px;
        border-radius: 100%;
    }
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
        text-decoration: none;
        color: var(--font-color);
        transition: color 0.3s;

        &:hover, &:focus {
            color: var(--secondary-color);
            outline: none;
        }
    }

}

button {
    background-color: var(--primary-color);
    font-weight: bold;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 0.5rem;
}

.cart-button {
    display: flex;
    background-color: var(--primary-color-light);

    svg {
        width: 20px;
        height: 20px;
        color: var(--primary-color);
    }
}

/* hero */

main {
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;

    & > p {
        font-size: 1rem;
        text-align: center;
        margin: 10px 0;
        padding: 20px 0;
    }
}

.hero-section {

    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        padding-top: 32px;
        color: white;
        font-size: 2.5rem;
    }

    & > img {
        position: absolute;
        width: 85%;
        max-width: 900px;
        height: 450px;
        object-fit: cover;
        z-index: -1;
        margin: 0 auto;
        border-radius: 50px;
        left: 0;
        right: 0;
    }

    p {
        margin: 20px 0;
        font-size: 1rem;
    }
}

main > section:nth-child(3) {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;

    button {
        align-self: center;
        margin-top: 20px;
    }
}

main > section:nth-child(3) > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin: 20px 0;
}

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 100%;

    h3 {
        font-size: 0.8rem;
    }

    p {
        font-size: 0.9rem;
        color: var(--primary-color)
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

footer {
    width: 90%;
    max-width: 1024px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-top: 0.5px solid var(--primary-color);
    border-bottom: 0.1px solid var(--primary-color);
    padding: 10px 0;

    & div {
        margin: 20px 0 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    h1 {
        font-size: 0.8rem;
    }

    p {
        font-size: 0.6rem;
        color: var(--font-muted);
    }

    h4 {
        font-size: 0.8rem;
    }
}

footer > div > div {
    display: flex;
    flex-direction: row;

    a {
        color: var(--primary-color);;
    }
}

footer > div > form {
    display: flex;
    flex-direction: row;
    gap: 10px;

    input {
        border: 0.5px solid var(--primary-color);
        border-radius: 20px;
        outline: none;
        padding: 5px;
    }
}

footer + small {
    text-align: center;
    font-size: 0.7rem;
    color: var(--font-muted);
    margin: 20px 0;
    padding-bottom: 20px;
}

/* seccion busqueda  */

.store-search {
    margin: 0px auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;

}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-light);
    border-radius: 50px;
    padding: 10px;
    gap: 10px;
    margin-top: 20px;

    svg {
        width: 20px;
        height: 20px;
        color: var(--primary-color);
    }

    input[type="text"] {
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 2px;
    }
}


input[type="text"]::placeholder {
    color: var(--primary-color);
}

.filter-options {
    display: flex;
    gap: 10px;
    margin: 10px 0;

    select {
        border: none;
        background-color: transparent;
        padding: 2px;
        background-color: var(--primary-color-light);
        border-radius: 50px;
        padding: 4px;
    }
}

/* Personajes Grid */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-bottom: none;

    .social-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 auto;

        a {
            font-size: 0.8rem;
            color: var(--primary-color);
            text-decoration: none;
            margin: 0;
        }
    }
}

/* pagination */

.pagination {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
    gap: 0.3rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 100%;
        background-color: var(--primary-color-light);
        color: var(--primary-color);
        width: 35px;
        height: 35px;

        &:hover {
            background-color: var(--primary-color);
            color: var(--text-light);
        }

        &.is-active {
            background-color: var(--primary-color);
            color: var(--text-light);
            pointer-events: none;
        }

        &:active {
            transform: scale(0.90);
        }
    }
}

.nav-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    div {
        padding: 0.5rem;
        margin: 0;
        min-width: 10rem;
    }

    input[type="text"] {
        border-radius: 20px;
        outline: none;
    }
}

/* breadcrumb  */

.breadcrumb {
    display: flex;
    gap: 0.5rem;

    a {
        text-decoration: none;
        color: var(--font-color);
        font-size: 0.9rem;
    }

    a::after {
        content: ">";
        margin-left: 0.5rem;
        color: var(--primary-color);
    }

    a:last-child::after {
        content: "";
    }

    .is-active {
        color: var(--primary-color);
    }
}

/* product detail  */

.product-detail-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}


/* Images Grid */

.product-images {
        display: grid;
        max-height: 20rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        padding-block: 2rem;

        img {
            border-radius: 20px;
            object-fit: cover;
        }

        & > img:nth-child(1) {
            width: 100%;
            aspect-ratio: 4/3;
            grid-column: 1/5;
            grid-row: 1/3;
        }

        & > img:nth-child(2) {
            grid-column: 1/3;
            grid-row: 3/5;
            width: 100%;
        }

        & > img:nth-child(3) {
            width: 100%;
            aspect-ratio: 2/1;
            grid-column: 3/5;
            grid-row: 3/4;
        }
        & > img:nth-child(4) {
            width: 100%;
            aspect-ratio: 2/1;
            grid-column: 3/5;
            grid-row: 4/5;
        }
    }

@media screen and (min-width: 1024px) {

    .product-images {
        max-height: 100%;
    }
}



/* product Info */

.product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
        color: var(--font-color);
    }

    .price {
        font-size: 1.3rem;
        color: var(--text-seconday);
        font-weight: bold;
    }

    span {
        font-weight: bold;
    }
}

.product-options {

    .color-option {
        background-color: #ccc;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .pink-option {
        background-color: #fb9fcd;

         &.is-active {
            border: 2px solid #f8007c;
        }
    }

    .blue-option {
        background-color: #8ac6ff;
        
         &.is-active {
            border: 2px solid #3465f6;
        }
    }

    .green-option {
        background-color: #a0e7a0;

         &.is-active {
            border: 2px solid #3ef800;
        }
    }

    .yellow-option {
        background-color: #fff5ba;

         &.is-active {
            border: 2px solid #f8f000;
        }
    }

     .add-button {
        display: flex;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;

        &:hover {
            background-color: var(--secondary-color);
        }
    }

}

/* product quantity */
.quantity-selector {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1.5rem;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color-light);
        border-radius: 50px;
    }

    button {
        background-color: transparent;
        color: var(--font-color);
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 0;
    }

    input[type="number"] {
        width: 2rem;
        border: none;
        background-color: transparent;
        text-align: center;
        outline: none;
        
         &::-webkit-inner-spin-button {
            appearance: none;
        }
    }
    
}

.shipping-info {
    display: flex;
    gap: 1rem;
    margin-block: 1.5rem;
    
    p {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        color: var(--text-seconday);
        font-size: 0.8rem;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }
}

.shop-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart-footer {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding-block: 2rem;
    border-bottom: none;

    p {
        font-size: 0.8rem;
        color: var(--text-seconday);
    }

    .politics-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin: 0;

        a {
            color: var(--text-seconday);
            text-decoration: none;
            font-size: 0.8rem;
        }
    }
}

.cart-header {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    width: 100%;
    border-bottom: none;

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1rem;
        color: var(--text-seconday);
    }

}

.cart-content {
    display: flex;
    gap: 2rem;

    a {
        display: flex;
        text-decoration: none;
        gap: 0.5rem;
        font-size: 0.9rem;
        color: var(--primary-color);
        padding-top: 0.8rem;
    }
}

.cart-items {
    background-color: #fff;
    border-radius: 2rem;
    padding: 2rem;
    width: 60%;
}

.cart-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bg-color);
    border-radius: 1rem;
    height: auto;
    align-items: center;
    justify-content: space-between;

    img {
        width: 3rem;
        height: 3rem;
    }

    div:nth-child(2) {
        
        p:nth-child(1) {
            font-size: 0.9rem;
            color: var(--font-color)
        }
        p:nth-child(2) {
            font-size: 0.9rem;
            color: var(--text-seconday)
        }
    }

    div:nth-child(3) {
        display: flex;
        gap: 1rem;

        button {
            width: 1.8rem;
            height: 1.8rem;
            background-color: var(--primary-color-light);
            color: var(--font-color);
        }
    }
}

/* cart summary */

.cart-summary {
    background-color: #fff;
    border-radius: 2rem;;
    padding: 2rem;

    .item-cost {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
    }

    .total-cost {
        font-weight: bold;
        margin-top: 1rem;
        border-top: 1px dashed var(--primary-color-light);
        padding-top: 1rem;
    }

    .discount {
        font-size: 0.8rem;
        margin-top: 1rem;
        font-weight: bold;
    }

    .discount-code {
        display: flex;
        gap: 0.5rem;
        margin-block: 0.5rem;


        input[type="text"] {
            flex-grow: 1;
            border: 0.5px solid var(--primary-color-light);
            border-radius: 20px;
            padding: 5px;
            outline: none;
        }

        input[type="text"]::placeholder {
            color: var(--font-muted);
        }

        button {
            background-color: var(--primary-color-light);
            color: var(--font-color);
        }
    }
}

.pay-button {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 1rem auto;
    padding-block: 1rem;
    border-radius: 2rem;
    font-size: 1rem;
}

.delivery-time {
    font-size: 0.8rem;
    color: var(--text-seconday);
    text-align: center;
}

/* Sobre Nosotros */

.about-nav {
    margin-bottom: 0;
}

.about-header{
    margin: 0;
    position: relative;
    border-bottom: none;
    width: 100%;

    img {
        position: relative;
        width: 100%;
        aspect-ratio: 2/1;
        margin: 0 auto;
        border-radius: 2rem;
        object-fit: cover;
    }

    h1 {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        font-size: 2rem;
    }
}

.historia-container {
    display: flex;
    margin-block: 3rem;
    align-items: center;
    gap: 3rem;

    div {
        font-size: 0.9rem;
        text-align: center;
    }

    img {
        width: 50%;
        aspect-ratio: 3 / 2;
        border-radius: 2rem;
        object-fit: cover;
    }
}

.proposito-container {
    display: flex;
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--primary-color-light);
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;

    & div:nth-child(1) {
        width: 50%;
        text-align: center;

        svg {
            width: 8rem;
            height: 8rem;
            color: var(--primary-color);
        }
    }

    & div:nth-child(2) {
        width: 50%;
        text-align: center;
    }
}

.personal-container {
    text-align: center;

    div {
        display: flex;
        gap: 1rem;
        margin: 2rem auto;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
        }
        
        & > p:nth-child(2) {
            color: #333;
            font-weight: 900;
            font-size: 1rem;
        }
        & > p:nth-child(4) {
            margin-top: 0.2rem;
            color: #333;
            font-size: 0.8rem;
        }
    }
}

.about-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    border-bottom: none;

    h1 {
        font-size: 2rem;
    }
}

.ubicacion-container {

    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    gap: 1rem;

    img {
            width: 50%;
            aspect-ratio: 4 / 2;
            object-fit: cover;
        }
}

.detalles-ubicacion {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    justify-content: center;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;

        svg {
            color: var(--primary-color);
        }
    }

    & > div:nth-child(4) {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: start;

        svg {
            color: var(--font-color);
        }
    }
}

.explorar-button {
    margin-block: 3rem;
    padding: 1rem;
    border-radius: 3rem;
}